
body {
    background-color: #333333;
}

.dark {
    opacity: 0.5;
}

ul {
    padding: 0;
}
h1 {
    margin-top: 0;
}


.nav__bar {
    
    position: absolute;
    cursor: pointer;
    top: 50;
    background-color: #dad6d6;
    padding: 11px;
    border-radius: 6px;
    left: 325px;
    width: 25px;
    transform: rotate(180deg);
    transition: transform .3s;
}

.bar {
    transform: rotate(360deg);
}

/*icons*/

.list__icon, .list__arrow {
    width: 15px;
}


.nav {
    width: 300px;
}

.list {
    opacity: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 25%;
    margin-top: 0;
    margin-bottom: 0;
    height: 100vh;
    background-color: #e4e2e2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-320px);
    transition: transform .3s;
    
}


.list__item--click, .list__item {
    cursor: pointer;
}

.list__item, .list__inside {
    list-style-type: none;
    text-align: center;
    margin-top: 11px;
    width: 100%;
    overflow: hidden;
}

.list__show {
    width: 70%;
    margin-left: auto;
    margin-right: 10px;
    border-left: 1px solid black;
    transition: height .3s;
    height: 0;
}


.list__buttom {
    display: flex;
    align-items: center;
    width: 70%;
    gap: 1em;
    margin-right: auto;
    margin-left: auto;
    
}


.nav__link {
    text-decoration: none;
    color: #6b6767;
    
}

.nav__link:hover {
    color:#333333;
}

.list__arrow {
    margin-left: auto;
    transition: transform .3s;
}

.arrow .list__arrow{
    transform: rotate(90deg);
}

.open {
    transform: translateX(0px);
    box-shadow: 10px 0px 60px 0px #3d3d3d;
}

.stop-scroll {
    overflow: hidden;
}

/* main */

.cont__div {
    font-family: sans-serif;
    width: 70%;
    padding: 50px 30px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    background-color: #b6b6b6;
    color: #363636;
}

.cont__title {
    color: #333333;
    font-family: sans-serif;
}

.cont__paragraph {
    color: #b6b6b6;
    background-color: #363636;
    padding: 25px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.1s;
}

.cont__paragraph--replace {
    background-color: #1f1e1e;
    color: #8d8d8d
}
.cont__paragraph:hover {
    transform: translateY(3px);
    box-shadow: 10px 10px 1px 1px #1f1e1e;
    color: #dddddd;
}




